@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "MontSerrat";
  text-decoration: none;
}

:root {
  --orange: #c36900;
  --yellow: #da9545;
  --brown: #7c4300;
  --grey: #6a5e50;
  --blue: #045777;
  --ice: #dbdbdb;
  --white: #ffffff;
  --green: #2ccb18;
  --dark-brown: #231300;
  --dark-brown2: #341c00;
  --cream: #db9545;
  --black: #333333;
}

.header {
  padding: 5rem 2rem 3.1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-image: linear-gradient(
    0deg,
    rgba(195, 104, 0, 1),
    rgba(195, 105, 0, 1)
  );
}

.logo {
  width: 50%;
  margin: 0 auto;
}

.eye {
  width: 105%;
  margin: 0 auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-text h1 {
  font-size: 20px;
  font-weight: bolder;
  color: var(--white);
  text-transform: uppercase;
}

.header-text h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.header-text p {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
}

.span-bold {
  font-weight: bold;
}

.main {
  background-image: url("https://raw.githubusercontent.com/vinicarvc/simposio/main/img/backgroundmobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  margin-top: -9%;
}

.button-whatsapp {
  color: var(--white);
  background-color: var(--green);
  font-size: 15px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
}

.about {
  padding: 2rem;
  text-align: center;
  background-color: var(--brown);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about h1 {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

.about h2 {
  background-color: var(--white);
  font-size: 15px;
  padding: 1rem;
  font-weight: bold;
  color: var(--brown);
}

.about p {
  font-size: 13px;
}

.about-location {
  display: flex;
  flex-direction: row;
  color: var(--white);
}

.fa-location-dot {
  color: var(--white);
  font-size: 30px;
}

.about-rectangle {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: left;
  text-align: left;
  font-size: 14px;
}

.about-rectangle-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
}

.fa-circle-check {
  color: var(--green);
}

.button-whatsapp2 {
  color: var(--white);
  background-color: var(--green);
  font-size: 15px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.schedule {
  background-color: var(--dark-brown);
  padding: 2rem;
  color: var(--white);
}

.schedule h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.schedule-mark {
  background-color: var(--white);
  margin-top: 30px;
  margin-bottom: 2cqmax;
  width: 70%;
  margin-left: -70px;
  padding: 1rem;
  border-radius: 40px 5px;
}

.schedule-mark h2 {
  font-size: 15px;
  color: var(--brown);
  margin-left: 80px;
}

.schedule-list {
  margin-bottom: 30px;
}

.schedule-list h2 {
  font-size: 17px;
}

.course {
  padding: 2rem;
  text-align: center;
  background-color: var(--dark-brown2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-location {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.course-location p {
  font-size: 13px;
}

.course-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

.course-subtitle {
  background-color: var(--white);
  font-size: 15px;
  padding: 1rem;
  font-weight: bold;
  color: var(--brown);
}


.about-professor p {
  text-align: left;
  color: var(--white);
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
}

.about-professor h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: var(--white);
  margin-bottom: 15px;
  text-align: center;
}

.prices {
  background-color: var(--cream);
  padding: 2rem;
  color: var(--white);
}

.prices p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.prices h4 {
  text-align: center;
  margin: 4px;
}

.prices-box-1 {
  background-color: var(--white);
  border-radius: 30px 30px 0px 0px;
  padding: 2rem;
}
.prices-box-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.prices-box-1 :nth-child(2) {
  color: var(--brown);
}

.prices-box-1 p {
  color: var(--brown);
  font-size: 16px;
  margin: 3px;
}

.span-price {
  font-size: 20px;
  color: var(--brown);
  font-weight: bold;
  margin: 3px;
}

.prices-box-2 {
  background-color: var(--brown);
  padding: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.prices-box-2-value {
  font-size: 25px;
}

.span-price2 {
  font-size: 40px;
}

.prices-box-3 {
  background-color: var(--dark-brown);
  padding: 2rem;
  border-radius: 0px 0px 30px 30px;
}

.prices-box-3 h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.prices-box-3-value {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-weight: bold;
}

.prices-box-3-value :nth-child(1) {
  margin: -1px;
}

.span-price3 {
  font-size: 25px;
}

.span-price4 {
  font-size: 25px;
  color: var(--yellow);
  font-weight: bold;
  margin: 3px;
}

.prices-box-3-value2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-weight: bold;
  color: var(--yellow);
}

.prices-box-3-value2 :nth-child(1) {
  margin: -1px;
}

.contact {
  padding: 2rem;
  background-color: var(--brown);
  text-align: center;
}

.contact img {
  padding: 1rem;
  width: 80%;
}

.contact h2 {
  color: var(--white);
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.contact p {
  font-size: 14px;
  color: var(--white);
  padding: 1rem;
}

.baseboard {
  padding: 2rem;
  background-color: var(--dark-brown);
  text-align: center;
  color: var(--white);
}

.baseboard img {
  width: 90%;
}

.baseboard p {
  padding: 2rem;
  font-size: 14px;
  line-height: 28px;
}

a {
  color: var(--white);
}

/*DESKTOP CSS*/

.header-desk {
  background-image: url('https://raw.githubusercontent.com/vinicarvc/simposio/main/img/matildebanner1.png');
  padding: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.logos-desk{
  display: flex;
  align-items: baseline;

}

.logo-desk {
  width: 50%;
  margin-bottom: 30px;
}

.logo-simpo-desk {
  margin-left: -10px;
  width: 70%;
}

.sponsor-desk {
  width: 50%;
}

.header-desk-texts {
  width: 742px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header-desk h1 {
  font-size: 48px;
  font-weight: bolder;
}

.header-desk h2 {
  font-size: 30px;
  font-weight: bold;
}

.header-desk p {
  font-size: 28px;
  font-weight: 300;
}

.about-desk {
  background-color: var(--brown);
  padding: 8rem;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-desk h1 {
  font-size: 32px;
}

.about-desk h2 {
  background-color: var(--white);
  color: var(--brown);
  padding: 10px;
  width: 70%;
  font-size: 17px;
  margin: 0 auto;
}

.about-location-desk {
  display: flex;
  margin: 0 auto;
  width: 40%;
  align-items: center;
}

.about-location-desk p {
  font-size: 24px;
}

.about-rectangle-desk-div {
  display: flex;
  gap: 20px;
}

.teachers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 70px;
}

.teachers img{
  width: 70%;
}

.teachers-container{
  width: 29%;
}

.button-whatsapp-desk1 {
  background-color: var(--green);
  font-size: 24px;
  width: 32%;
  margin: 30px auto;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.schedule-desk {
  padding: 8rem;
  background-color: var(--dark-brown);
  color: var(--white);
}

.schedule-desk h1 {
  font-size: 32px;
  color: var(--white);
  text-align: center;
}

.schedule-desk h2 {
  font-size: 20px;
}

.schedule-desk p {
  font-size: 20px;
}

.schedule-mark-desk {
  background-color: var(--white);
  margin-top: 50px;
  margin-bottom: 2rem;
  width: 30%;
  margin-left: -70px;
  padding: 1rem;
  border-radius: 40px 5px;
  font-size: 26px;
}

.schedule-mark-desk h2 {
  font-size: 26px;
  color: var(--brown);
  margin-left: 160px;
}

.schedule-list-desk {
  margin-bottom: 50px;
  font-size: 28px;
}

.schedule-list-desk-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.course-desk {
  background-color: var(--dark-brown2);
  padding: 8rem;
}

.course-title-desk {
  font-size: 32px;
  color: var(--white);
  text-align: center;
  margin-bottom: 30px;
}

.course-subtitle-desk {
  background-color: var(--white);
  color: var(--brown);
  padding: 1rem;
  width: 30%;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}

.course-location-desk {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  align-items: center;
  color: var(--white);
  margin-bottom: 0px;
}

.course-location-desk p {
  font-size: 24px;
}

.about-professor-desk-container {
  display: flex;
  color: var(--white);
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.professor-img-desk {
  width: 709px;
  height: 542px;
}

.about-professor-desk p {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-professor-desk h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.button-whatsapp-desk2 {
  background-color: var(--green);
  font-size: 24px;
  width: 30%;
  margin: 50px auto;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.prices-container {
  display: flex;
  align-items: center;
}

.price-desk {
  background-color: var(--cream);
  padding: 6rem;
}

.price-desk h1 {
  font-size: 32px;
  color: var(--white);
  text-align: center;
  margin-bottom: 30px;
}

.price-desk h4 {
  text-align: center;
  color: var(--white);
  font-size: 24px;
}

.prices-desk {
  padding: 2rem;
  color: var(--white);
}

.prices-desk p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.prices-box-1-desk {
  background-color: var(--white);
  border-radius: 30px 30px 0px 0px;
  padding: 2rem;
}
.prices-box-title-desk {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.prices-box-1-desk :nth-child(2) {
  color: var(--brown);
}

.prices-box-1-desk p {
  color: var(--brown);
  font-size: 16px;
  margin: 3px;
}

.prices-box-2-desk {
  background-color: var(--brown);
  padding: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.prices-box-2-value-desk {
  font-size: 25px;
}

.prices-box-3-desk {
  background-color: var(--dark-brown);
  padding: 2rem;
  border-radius: 0px 0px 30px 30px;
}

.prices-box-3-desk h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.prices-box-3-value-desk {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-weight: bold;
}

.prices-box-3-value-desk :nth-child(1) {
  margin: -1px;
}

.prices-box-3-value2-desk {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-weight: bold;
  color: var(--yellow);
}

.prices-box-3-value2-desk :nth-child(1) {
  margin: -1px;
}

.contact-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  background-color: var(--brown);
}

.contact-desk-left,
.contact-desk-right {
  flex: 1; /* Faz com que ambos os lados ocupem o mesmo espaço */
}

.contact-desk h2 {
  color: var(--white);
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.contact-desk p {
  font-size: 24px;
  color: var(--white);
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-whatsapp-desk3 {
  background-color: var(--green);
  font-size: 24px;
  width: 60%;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: var(--white);
}

.contact-img-desk {
  width: 373px;
  height: 658px;
}

.baseboard-desk {
  padding: 8rem;
  background-color: var(--dark-brown);
  text-align: center;
  color: var(--white);
}

.baseboard-desk p {
  padding: 2rem;
  font-size: 24px;
  line-height: 28px;
}

.baseboard-img-desk {
  width: 605px;
  height: 217px;
}

.button-whatsapp:hover,
.button-whatsapp-desk1:hover,
.button-whatsapp-desk2:hover,
.button-whatsapp-desk3:hover,
.button-whatsapp2:hover {
  background-color: var(--black);
  color: var(--green);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.desktop,
.mobile {
  display: none; /* Oculta ambos os layouts por padrão */
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .mobile {
    display: block; /* Mostra o layout mobile em telas pequenas */
  }

  .sponsor-desk {
    width: 80%;
  }

  .teachers{
    margin-bottom: 20px;
  }

  .teachers-container{
    width: 100%;
  }
}

/* Estilos para dispositivos desktop */
@media (min-width: 768px) {
  .desktop {
    display: block; /* Mostra o layout desktop em telas grandes */
  }
  .button-whatsapp2 {
    width: 60%;
    font-size: 24px;
  }
}
